* {
  margin: 0;
  padding: 0;
}

.App{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}
.flex-container{
  flex-basis: 45%;
  display: flex;
  align-items: center;
  margin: 2vw;
}
.flex-container.assignment1, .flex-container.assignment3, .flex-container.assignment5{
  justify-content: right;
}
.assignment-background:hover > .assignment-image {
  transform: scale(1.1);
}
.assignment-image{
  transition: filter 0.5s, transform 0.5s;
}
.container{
  width: 30vw;
  background: rgb(33, 33, 33);
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
.assignment-background {
  position: relative;
  height: 15vw;
  width: 30vw;
  overflow: hidden;
}
.assignment-image{
  position: absolute;
  background-size: contain;
  height:15vw;
  width:30vw;
  border-radius: 10px 10px 0 0;
  opacity: .4;
  overflow: hidden;
}
.section-title{
  position: absolute;
  height:15vw;
  width:30vw;
  display: flex;
  justify-content:center;
  align-items: center;
}
.section-title > h2 {
  opacity: 1;
  font-size: 40px;
  color: white;
  font-family: 'Calibri';
  text-shadow: black 4px 4px 2px;
  text-align:center;
}
.assignment-description{
  color: white;
  font-size:20px;
  margin: 10px;
  font-family: 'Calibri';
}
.read-more{
  position:absolute;
  /*height:100%;
  width: 100%;*/
}


.timeline-box{
  background: slategrey;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.hifi-container{
  background: rgb(91, 144, 194);
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0px;
}

.hifi-container > h1, .hifi-container > p{
  width: min(800px, 100%);
  margin-bottom:25px;
}

.hifi-container > h1{
  text-align:center;
  margin-top:25px;
  font-size:70px;
}

.hifi-container > p{
  font-size:30px;
  width: min(1200px, 80vw);
  text-align:center;
}

h1{
  font-family: 'Calibri';
}


.introduction, .project{
  width:100%;
  background:rgb(203, 231, 240);
  text-align:center;
}


.project{
  position:relative;
  height:100vh;
}

.intro-image{
  position:absolute;
  height:100%;
  width:100%;
  background-size: cover;
  background-image: url("https://cdn.discordapp.com/attachments/528751706973143043/1115566273695334460/pexels-photo-814133.png");
}

.intro-text{
  position:relative;
}

.project h1{
  margin: 200px 100px;
  font-size: 100px;
  color:white;
  text-shadow: black 4px 4px 0px, black 4px 4px 2px, black 4px 4px 4px;
}

.project h2{
  margin: 50px 100px;
  font-size: 40px;
  color:white;
  text-shadow: black 4px 4px 0px, black 4px 4px 2px, black 4px 4px 4px;
}

a:visited{
  color:rgb(219, 219, 219);
}

a:link{
  color:rgb(201, 204, 240);
}

.introduction{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.introduction > h3{
  margin: 50px 100px;
  font-size: 70px;
  color:rgb(56, 56, 56);
}

.introduction > p{
  margin-bottom: 50px;
  width: min(1200px, 80vw);
  font-size: 30px;
  color:rgb(56, 56, 56);
}